aiohttp==1.0.5
cffi==1.7.0
chardet==2.3.0
-e git+https://github.com/Rapptz/discord.py@master#egg=discord.py
html2text==2016.5.29
mtgsdk==1.2.0
psycopg2==2.6.1
pycparser==2.14
PyNaCl==1.0.1
requests==2.10.0
six==1.10.0
websockets==3.1
ws4py==0.3.5
